In [53]:
import pandas as pd
import os

In [54]:
#先define 欲處理id
id=1

# 手寫csv

In [55]:
files=os.listdir()
files

['.ipynb_checkpoints',
 '0176.csv',
 '0176_20181205.txt',
 '0176_20181206.txt',
 '0176_20181207.txt',
 '0182.csv',
 '610D.csv',
 'Demo.csv',
 'Home.csv',
 'Main.ipynb',
 'Main2.ipynb',
 'normal.xlsx',
 'output.csv',
 'output2.csv',
 'Phase2.csv',
 'Phase3.csv']

In [56]:
csvFilesToRead=[] #back1.csv
for file in files:
    if 'Demo.csv' in file or 'Phase2.csv' in file or 'Phase3.csv' in file or 'Home.csv' in file:
        csvFilesToRead.append(file)

csvFileAmount=len(csvFilesToRead)
print('csvFilesToRead',csvFilesToRead)

csvFilesToRead ['Demo.csv', 'Home.csv', 'Phase2.csv', 'Phase3.csv']

In [57]:
#人口學
demoDf=pd.read_csv('Demo.csv',header=0)
demoDf=demoDf.dropna(axis=0, how='all')
demoDf=demoDf.dropna(axis=1, how='all')
examDate=demoDf.loc[demoDf['id']==id].loc[0].受試日期

# demoDf=demoDf.sort_values(['id','order'])
# demoDf=demoDf.drop_duplicates(subset='id')
# # demoDf
# examDate=demoDf['受試日期']
# # type(examDate)
# examDate=examDate.values

In [58]:
#Phase2 3
phase2Df=pd.read_csv('Phase2.csv',header=0)
phase3Df=pd.read_csv('Phase3.csv',header=0)
phase2Df=phase2Df.dropna(axis=0, how='all')
phase2Df=phase2Df.dropna(axis=1, how='all')
phase3Df=phase3Df.dropna(axis=0, how='all')
phase3Df=phase3Df.dropna(axis=1, how='all')
phase3Df=phase3Df.drop(phase3Df.columns[9], axis=1)
phase3Df.insert(8,'activity',phase3Df.pop(phase3Df.columns[4]))
phase23Df=phase2Df.append(phase3Df,sort =False, ignore_index =True)
phase23Df=phase23Df.sort_values(['id','time1'])
# maxID=int(phase23Df.tail(1).iat[0,0])
phase23Df=phase23Df.loc[phase23Df['id']==id]
phase23Df=phase23Df.reset_index()
phase23Df=phase23Df.drop(columns=['index'])

phase23Output=pd.DataFrame(columns=['id','roomt','roomw','time1','infra','ear','subjective','hr','activity'])
# insert sec
for row in phase23Df.itertuples():
    temp=[row]*60
    temp=pd.DataFrame(temp)
    temp.insert(len(phase23Output.columns)-1,'sec',range(0,60))
    phase23Output=phase23Output.append(temp,sort =False, ignore_index =True)
phase23Output=phase23Output.reset_index()
for boo in phase23Output.duplicated():
    if boo == True:
        print('有重複')

phase23Output.insert(len(phase23Output.columns)-1,'date',examDate)
print(phase23Output.shape)
phase23Output.tail()

(2400, 13)

,index,id,roomt,roomw,time1,infra,ear,subjective,hr,activity,Index,date,sec
2395,2395,1.0,26.5,62.0,12:19,32.3,36.4,0.0,78.0,3.0,39.0,2018/11/21,55.0
2396,2396,1.0,26.5,62.0,12:19,32.3,36.4,0.0,78.0,3.0,39.0,2018/11/21,56.0
2397,2397,1.0,26.5,62.0,12:19,32.3,36.4,0.0,78.0,3.0,39.0,2018/11/21,57.0
2398,2398,1.0,26.5,62.0,12:19,32.3,36.4,0.0,78.0,3.0,39.0,2018/11/21,58.0
2399,2399,1.0,26.5,62.0,12:19,32.3,36.4,0.0,78.0,3.0,39.0,2018/11/21,59.0

# Home.csv

In [59]:
homeDf=pd.read_csv('Home.csv',header=0)
homeDf=homeDf.dropna(axis=0, how='all')
homeDf=homeDf.dropna(axis=1, how='all')
homeDf=homeDf.sort_values(['id'])
homeDf=homeDf.dropna(subset=['id'])
homeDf.insert(1,'roomt',homeDf.pop(homeDf.columns[3]))
homeDf.insert(2,'roomw','NaN')
# homeDf.isnull().sum()
homeDf.insert(8,'date',homeDf.pop(homeDf.columns[3]))
homeDf.insert(4,'infra','NaN')
homeDf.insert(8,'activity','NaN')
homeDf.insert(10,'特殊事件',homeDf.pop(homeDf.columns[9]))

homeDf=homeDf.loc[homeDf['id']==id]
homeDf=homeDf.reset_index()
homeDf=homeDf.drop(columns=['index'])

homeOutput=pd.DataFrame(columns=['id','roomt','roomw','time1','infra','ear','subjective','hr','activity','date','特殊事件','sec'])
# insert sec
for row in homeDf.itertuples():
    temp=[row]*60
    temp=pd.DataFrame(temp)
    temp.insert(len(homeOutput.columns)-1,'sec',range(0,60))
    homeOutput=homeOutput.append(temp,sort =False, ignore_index =True)
homeOutput=homeOutput.reset_index()
for boo in homeOutput.duplicated():
    if boo == True:
        print('有重複')
        
print(homeOutput.shape)
homeOutput.tail()

(3300, 14)

,index,id,roomt,roomw,time1,infra,ear,subjective,hr,activity,date,特殊事件,sec,Index
3295,3295,1.0,27.3,NaN,18:00,NaN,36.5,1,85.0,NaN,11/22,NaN,55,54.0
3296,3296,1.0,27.3,NaN,18:00,NaN,36.5,1,85.0,NaN,11/22,NaN,56,54.0
3297,3297,1.0,27.3,NaN,18:00,NaN,36.5,1,85.0,NaN,11/22,NaN,57,54.0
3298,3298,1.0,27.3,NaN,18:00,NaN,36.5,1,85.0,NaN,11/22,NaN,58,54.0
3299,3299,1.0,27.3,NaN,18:00,NaN,36.5,1,85.0,NaN,11/22,NaN,59,54.0

# Combine phase & home

In [60]:
outputDf=phase23Output.append(homeOutput,sort=False)
outputDf=outputDf.sort_values(['id','date','time1'])
outputDf=outputDf.drop_duplicates()
outputDf=outputDf.reset_index()
outputDf=outputDf.drop(columns=['level_0','index'])
print(outputDf.shape)
outputDf.tail()

(5700, 13)

,id,roomt,roomw,time1,infra,ear,subjective,hr,activity,Index,date,sec,特殊事件
5695,1.0,26.5,62,12:19,32.3,36.4,0,78.0,3,39.0,2018/11/21,55,NaN
5696,1.0,26.5,62,12:19,32.3,36.4,0,78.0,3,39.0,2018/11/21,56,NaN
5697,1.0,26.5,62,12:19,32.3,36.4,0,78.0,3,39.0,2018/11/21,57,NaN
5698,1.0,26.5,62,12:19,32.3,36.4,0,78.0,3,39.0,2018/11/21,58,NaN
5699,1.0,26.5,62,12:19,32.3,36.4,0,78.0,3,39.0,2018/11/21,59,NaN

# Export

In [65]:
fileName='phase23HomeOutput_'+(str)(id)+'.csv'
fileName

'phase23HomeOutput_1.csv'

In [66]:
outputDf.to_csv(fileName, sep='\t', encoding='utf-8') #輸出tab分隔, utf-8編碼.csv