In [1]:
import pandas as pd
import os

In [2]:
files=os.listdir()
files

['.ipynb_checkpoints',
 '0176.csv',
 '0176_20181205.txt',
 '0176_20181206.txt',
 '0176_20181207.txt',
 '0182.csv',
 '610D.csv',
 'DH78_0182_saved_data_1124.gdoc',
 'DH78_0182_saved_data_1125.gdoc',
 'DH78_0182_saved_data_1126.gdoc',
 'DH78_0182_saved_data_1127.gdoc',
 'DH78_0182_saved_data_1128.gdoc',
 'DH78_0182_saved_data_1129.gdoc',
 'DH78_610D_saved_data_1129.gdoc',
 'DH78_610D_saved_data_1130.gdoc',
 'DH78_610D_saved_data_1201.gdoc',
 'DH78_610D_saved_data_1202.gdoc',
 'DH78_610D_saved_data_1203.gdoc',
 'DH78_610D_saved_data_1204.gdoc',
 'DH78_610D_saved_data_1205.gdoc',
 'Mian.ipynb',
 'N1_0176_後台資料_3.xlsx',
 'N1_0182_後台資料_1.xlsx',
 'N1_610D_後台資料_2.xlsx']

In [3]:
txtFilesToRead=[] #DH78_0176_saved_data_1205.txt
csvFilesToRead=[] #back1.csv
for file in files:
    if '.txt' in file :
        txtFilesToRead.append(file)
    elif '.csv' in file:
        csvFilesToRead.append(file)

txtFileAmount=len(txtFilesToRead)
csvFileAmount=len(csvFilesToRead)
print('txtFilesToRead',txtFilesToRead)
print('csvFilesToRead',csvFilesToRead)

txtFilesToRead ['0176_20181205.txt', '0176_20181206.txt', '0176_20181207.txt']
csvFilesToRead ['0176.csv', '0182.csv', '610D.csv']

# CSV (檔名為機器編號)

In [4]:
#先csv, 檔名需一樣, 注意大小寫
csvDf=pd.DataFrame(columns=[0,1,2,3,4,'BT'])
for i in range(0,csvFileAmount):
    df=pd.read_csv(csvFilesToRead[i],header=None)
    df['BT']=df[3]
    if '0154' in csvFilesToRead[i]:
        df.insert(5, '5', 1.058)
        df.insert(6, '6', -0.209)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0157' in csvFilesToRead[i]:
        df.insert(5, '5', 1.002)
        df.insert(6, '6', 0.022)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0159' in csvFilesToRead[i]:
        df.insert(5, '5', 1.025)
        df.insert(6, '6', -1.712)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0164' in csvFilesToRead[i]:
        df.insert(5, '5', 1.025)
        df.insert(6, '6', -1.712)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0171' in csvFilesToRead[i]:
        df.insert(5, '5', 1.038)
        df.insert(6, '6', -0.088)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0176' in csvFilesToRead[i]:
        df.insert(5, '5', 1.008)
        df.insert(6, '6', -0.171)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0182' in csvFilesToRead[i]:
        df.insert(5, '5', 1.031)
        df.insert(6, '6', -0.912)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0185' in csvFilesToRead[i]:
        df.insert(5, '5', 1.055)
        df.insert(6, '6', -1.638)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0187' in csvFilesToRead[i]:
        df.insert(5, '5', 1.02)
        df.insert(6, '6', -0.675)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '6110' in csvFilesToRead[i]:
        df.insert(5, '5', 1.082)
        df.insert(6, '6', -2.029)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '6115' in csvFilesToRead[i]:
        df.insert(5, '5', 1.056)
        df.insert(6, '6', -2.032)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '6119' in csvFilesToRead[i]:
        df.insert(5, '5', 1.026)
        df.insert(6, '6', -0.736)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '015C' in csvFilesToRead[i]:
        df.insert(5, '5', 1.087)
        df.insert(6, '6', -1.976)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '016F' in csvFilesToRead[i]:
        df.insert(5, '5', 1.108)
        df.insert(6, '6', -1.72)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '018A' in csvFilesToRead[i]:
        df.insert(5, '5', 1.053)
        df.insert(6, '6', -2.26)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '610D' in csvFilesToRead[i]:
        df.insert(5, '5', 1.044)
        df.insert(6, '6', -1.399)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '610E' in csvFilesToRead[i]:
        df.insert(5, '5', 1.064)
        df.insert(6, '6', -1.87)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '611C' in csvFilesToRead[i]:
        df.insert(5, '5', 1.074)
        df.insert(6, '6', -3.202)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '612B' in csvFilesToRead[i]:
        df.insert(5, '5', 1.068)
        df.insert(6, '6', -1.43)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)

In [5]:
#csv部分的(row,col)
csvDf.shape

(568899, 6)

In [6]:
csvDf.head() #unsorted csv top5

           0         1    2     3  4        BT
0  2018/12/5  13:25:16  171  2773  1  27.95013
1  2018/12/5  13:25:17  171  2824  1  28.46421
2  2018/12/5  13:25:18  171  2811  1  28.33317
3  2018/12/5  13:25:19  171  2808  1  28.30293
4  2018/12/5  13:25:20  171  2810  1  28.32309

# txt (檔名為 機器編號_YYYYMMDD)

In [8]:
txtDf=pd.read_csv(txtFilesToRead[0])
for i in range(0,txtFileAmount):
    df=pd.read_csv(txtFilesToRead[i],header=None)
    machine=txtFilesToRead[i][0:4]
    date=txtFilesToRead[i][5:9]+'/'+txtFilesToRead[i][9:11]+'/'+txtFilesToRead[i][11:13]
    df.insert(0,'date',date)
    df.columns=[0,1,2,3,4]
    df['BT']=df[3]
    if '0154' == machine:
        df.insert(5, '5', 1.058)
        df.insert(6, '6', -0.209)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0157' == machine:
        df.insert(5, '5', 1.002)
        df.insert(6, '6', 0.022)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0159' == machine:
        df.insert(5, '5', 1.025)
        df.insert(6, '6', -1.712)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0164' == machine:
        df.insert(5, '5', 1.025)
        df.insert(6, '6', -1.712)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0171' == machine:
        df.insert(5, '5', 1.038)
        df.insert(6, '6', -0.088)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0176' == machine:
        df.insert(5, '5', 1.008)
        df.insert(6, '6', -0.171)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0182' == machine:
        df.insert(5, '5', 1.031)
        df.insert(6, '6', -0.912)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0185' == machine:
        df.insert(5, '5', 1.055)
        df.insert(6, '6', -1.638)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '0187' == machine:
        df.insert(5, '5', 1.02)
        df.insert(6, '6', -0.675)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '6110' == machine:
        df.insert(5, '5', 1.082)
        df.insert(6, '6', -2.029)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '6115' == machine:
        df.insert(5, '5', 1.056)
        df.insert(6, '6', -2.032)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '6119' == machine:
        df.insert(5, '5', 1.026)
        df.insert(6, '6', -0.736)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '015C' == machine:
        df.insert(5, '5', 1.087)
        df.insert(6, '6', -1.976)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '016F' == machine:
        df.insert(5, '5', 1.108)
        df.insert(6, '6', -1.72)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '018A' == machine:
        df.insert(5, '5', 1.053)
        df.insert(6, '6', -2.26)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '610D' == machine:
        df.insert(5, '5', 1.044)
        df.insert(6, '6', -1.399)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '610E' == machine:
        df.insert(5, '5', 1.064)
        df.insert(6, '6', -1.87)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '611C' == machine:
        df.insert(5, '5', 1.074)
        df.insert(6, '6', -3.202)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)
    elif '612B' == machine:
        df.insert(5, '5', 1.068)
        df.insert(6, '6', -1.43)
        df['BT']=(df['BT']*df.pop('5')+df.pop('6'))/100
        csvDf=csvDf.append(df)

In [10]:
csvDf.shape

(584944, 6)

In [11]:
csvDf.head()

           0         1    2     3  4        BT
0  2018/12/5  13:25:16  171  2773  1  27.95013
1  2018/12/5  13:25:17  171  2824  1  28.46421
2  2018/12/5  13:25:18  171  2811  1  28.33317
3  2018/12/5  13:25:19  171  2808  1  28.30293
4  2018/12/5  13:25:20  171  2810  1  28.32309

# Sort

In [16]:
csvDf=csvDf.sort_values([0,1])
csvDf=csvDf.drop_duplicates()
csvDf.shape

(581344, 6)

In [17]:
csvDf.head()

            0         1   2     3  4        BT
0  2018/11/22  12:29:21  79  3176  0  32.73544
1  2018/11/22  12:29:22  79  3179  0  32.76637
2  2018/11/22  12:29:23  79  3182  0  32.79730
3  2018/11/22  12:29:24  78  3181  1  32.78699
4  2018/11/22  12:29:25  78  3180  1  32.77668

In [19]:
df.to_csv('output.csv', sep='\t', encoding='utf-8') #輸出tab分隔, utf-8編碼.csv